.key__block {
    width: 100px;
    height: 100px;
    text-align: center;
    transition: all 1s;
    display: inline-block;
    background-color: gray;
    font-size: 36px;
}

.key__small {
    width: 100px;
    height: 50px;
    text-align: center;
    transition: all 1s;
}

.key__shift {
    width: 100px;
    height: 50px;
    text-align: center;
    transition: all 1s;
}

.hidden {
    display: none;
}

.colored {
    background-color: brown;
}